.hero-container {
  background-color: #1f2937;
  height: 250px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
}

.navbar-container {
  display: flex;
  align-items: center;
  color: white;
  font-family: "Arial", sans-serif;
  flex-wrap: wrap;
  gap: 20px;
}

.navbar-container .logo {
  font-weight: 900;
  flex: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover .link {
  -webkit-text-stroke: 1px;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-links .link {
  font-weight: 100;
}

html,
body {
  margin: 0;
}

.logo,
.link {
  margin: 0;
}
