a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  font-weight: bolder;
}

.hero-container {
  background-color: #1f2937;
  height: 250px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 25px;
}

.navbar-container {
  display: flex;
  align-items: center;
  color: white;
  font-family: "Arial", sans-serif;
}

body {
  margin: 0;
}

h1,
h2 {
  margin: 0;
  font-weight: 100;
}

.navbar-container .logo {
  font-weight: 900;
  flex: 1;
}

.navbar-container > a {
  font-weight: 100;
  text-align: center;
}
